@import '~bootstrap/scss/bootstrap';


.sign-up-form {
  display: flex;
  align-items: center;
}

.box {
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.success-message {
  color: #00cc00;
}

.failure-message {
  color: #e60000;
}
