@import '~bootstrap/scss/bootstrap';

.gameStat {
  text-align: center;
}

h1 {
  text-align: center;
}

.sign-in-form {
  text-align: center;
}

.sign-up-form {
  text-align: center;
}

.reset-game-form {
  text-align: center;
 }

 .sign-out-form {
  text-align: center;
 }

.box {
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.success-message {
  color: #00cc00;
}

.failure-message {
  color: #e60000;
}
